
<% if @store.roles.first.name == "Store_Manager" %>
<div id="page-wrapper">
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Minha Conta</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">&nbsp;</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <p class="notice" style="color: red;"><%= notice %></p>
            <%= nested_form_for([resource_name, resource.with_address], url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :public_name, 'Nome da loja ou revenda<span class="text-danger">*</span>'.html_safe %>
              <%= f.text_field :public_name, :class => "form-control",:id=>"public_name" %>
            </div>
            <div class="form-group">
              <%= f.label :legal_name, 'Razão social<span class="text-danger">*</span>'.html_safe %>
              <%= f.text_field :legal_name, :class => "form-control",:id=>"legal_name" %>
            </div>
            <div class="form-group">
              <%= f.label :cnpj, 'CNPJ<span class="text-danger">*</span>'.html_safe %>
              <%= f.text_field :cnpj, :class => "u_cnpj-btn-chanage form-control", :maxlength => "11",:id=>"u_cnpj"%>
            </div>
            <div class="cnpj_cpf_valid"></div>
            <div class="form-group top-margin">
              <label>Telefone<span class="text-danger">*</span></label>
              <div class="form-inline">
                <%= f.text_field :area_code, :class => "form-control form-width", :maxlength => "2", :placeholder => "DDD", :size => "4",:id=>"area_code"%>
                &nbsp;&nbsp;
                <%= f.text_field :phone_number, :class => "form-control form-width", :maxlength => "9", :placeholder => "Número",:id=>"phone_number"%>
              </div>
            </div>
            <div class="fields">
              <label>Endereço<span class="text-danger">*</span></label>
              <%= f.fields_for :address, html: { method: :put } do |address_form| %>
              <%= address_form.text_field :street, :class => "form-control", :placeholder => "Rua, Avenida...",:id=>"street" %><br/>
              <div class="form-inline">
                <%= address_form.text_field :number, :class => "form-control form-width", :maxlength => "4", :placeholder => "Número", :size => "8",:id=>"number"%>
                &nbsp;&nbsp;
                <%= address_form.text_field :district, :class => "form-control form-width", :placeholder => "Complemento", :size => "30",:id=>"district"%>
                <%= address_form.text_field :zipcode, :class => "form-control form-width", :maxlength => "10", :placeholder => "CEP", :size => "15",:id=>"zipcode"%>
              </div>
              <br>
              <div class="form-inline">
                <%= address_form.text_field :city, :class => "form-control form-width", :placeholder => "Cidade", :size => "30",:id=>"city" %>
                &nbsp;&nbsp;
                <%= address_form.text_field :state, :class => "form-control form-width", :maxlength => "2", :placeholder => "Estado", :size => "8",:id=>"state" %>
              </div>
              <% end %>
            </div>
            <br/>
            <div class="form-group">
              <label>Nome do responsável<span class="text-danger">*</span></label>
              <%= f.text_field :responsible_name, :class => "form-control",:id=>"responsiblename"%> 
            </div>
            <div class="form-group">
              <label>E-mail<span class="text-danger">*</span></label>
              <%= f.text_field :email, :class => "u_email-chnage form-control",:id=>"u_email" %>
            </div>
            <div class="check_email"></div>
            <div class="form-group">
              <label>Senha<span class="text-danger">*</span></label>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off",:class => "form-control",:id=>"u_password" %>
            </div>
            <br/>
            <div class="form-group">
              <label>Confirmação de senha<span class="text-danger">*</span></label>  
              <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control",:id=>"u_passwordconfirmation" %>
            </div>
            <hr/>
            <div class="form-group">
              <%= f.submit "ATUALIZAR
                ",:class=>"btn btn-success store_update"%>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
<!-- /.col-lg-6 (nested) -->
<style type="text/css">
  .store_update{
    margin-left: 210px;
    color: #fff;
    border: 1px solid #47A447;
    border-radius: 0;
    box-shadow: 0 2px 1px #b7b7b7;
    font-size: 17px;
    text-align: center;
  }
  .form-width{
  width: auto !important;
  }
</style>

<script>
  $(document).ready(function(){
     $('.dropdown-toggle').dropdown(); 
  });
</script>

<script type="text/javascript">
  $("#u_cnpj").mask("99.999.999/9999-99");
</script>

<script type="text/javascript">
  $("#zipcode").mask("99.999-999");
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(".u_cnpj-btn-chanage").change(function(){
      var cnpj_value = document.getElementById('u_cnpj').value
       $.ajax({
          url: '/check_cnpj_cpf',
          type: 'GET',
          data: {cnpj: cnpj_value}
       });
    }); 
    $(".u_email-chnage").change(function(){
      var email_value = document.getElementById('u_email').value
       $.ajax({
          url: '/check_cnpj_cpf',
          type: 'GET',
          data: {email: email_value}
       });
    }); 
  })
</script>

<script type="text/javascript">
  var publicname = new LiveValidation('public_name');
  publicname.add( Validate.Presence );
  
  var legalname = new LiveValidation('legal_name');
  legalname.add(Validate.Presence)
  
  var user_cnpj = new LiveValidation('u_cnpj')
  user_cnpj.add(Validate.Presence)
  user_cnpj.add(Validate.Length, { minimum: 11 });
  
  var areacode = new LiveValidation('area_code')
  areacode.add(Validate.Presence)
  areacode.add(Validate.Length,{ minimum: 2} );
  
  var phonenumber = new LiveValidation('phone_number')
  phonenumber.add(Validate.Numericality)
  phonenumber.add(Validate.Length,{ minimum: 9} );
  
  var street = new LiveValidation('street')
  street.add(Validate.Presence)
  
  var number = new LiveValidation('number')
  number.add(Validate.Numericality)
  number.add(Validate.Length, { minimum: 1} );
  
  var district = new LiveValidation('district')
  district.add(Validate.Presence)
  
  var zipcode = new LiveValidation('zipcode')
  zipcode.add(Validate.Length, { minimum: 10})
  
  var city = new LiveValidation('city')
  city.add(Validate.Presence)
  
  var state = new LiveValidation('state')
  state.add(Validate.Presence)
  state.add(Validate.Length, { minimum: 2});
  
  var responsiblename = new LiveValidation('responsiblename')
  responsiblename.add(Validate.Presence)
  
  var user_email = new LiveValidation('u_email')
  user_email.add(Validate.Presence)
  user_email.add(Validate.Email)
  
  var user_password = new LiveValidation('u_password')
  user_password.add(Validate.Presence)
  user_password.add(Validate.Length, { minimum: 8} );
  
  var user_passwordconfirmation = new LiveValidation('u_passwordconfirmation')
  user_passwordconfirmation.add(Validate.Presence)
  user_passwordconfirmation.add(Validate.Length, { minimum: 8 } );
  user_passwordconfirmation.add(Validate.Confirmation,{match:'u_password'} );
  
</script>























