

<!-- <h2>Change your password</h2> -->
<%= render "shared/header" %>
<!-- container -->
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/acesso-da-loja">Acesso da Loja</a></li>
    <li class="active">Crie uma nova senha</li>
  </ol>
  <div class="row">
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
      <header class="page-header"></header>
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">Crie uma nova senha</h3>
            <!-- <p class="text-center text-muted">Por favor, redefinir sua senha abaixo.</p> -->
            <p class="notice"><%= notice %></p>
            <hr>
            <%= form_for(@store, url: reset_password_path ) do |f| %>
            <%= hidden_field_tag :store_id, @store_id %>
            <div class="top-margin">
              <label>Nova senha<span class="text-danger">*</span></label>
              <%= f.password_field :password, autofocus: true, autocomplete: "off",:class=>"form-control",:id=>"r_password"%>
            </div>
            <div class="top-margin">
              <label>Confirmação de senha<span class="text-danger">*</span></label>
              <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control",:id=>"r_password_confir" %>
            </div>
            <br>
            <hr>
            <div class="actions">
              <%= f.submit "CRIAR",:class=> "btn btn-success chn-btn"%>
            </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  </article>
  <!-- /Article -->
</div>
</div>  <!-- /container -->
<script type="text/javascript">
  var re_password = new LiveValidation('r_password')
  re_password.add( Validate.Presence )
  
  var re_password_confir = new LiveValidation('r_password_confir')
  re_password_confir.add( Validate.Presence )
  re_password_confir.add(Validate.Confirmation, { match: 'r_password'} );
    
</script>
<style type="text/css">
  .chn-btn{
  margin-left: 370px;
  }
</style>

